.upcoming-games-container {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    max-width: 70%;
    margin: auto;
    padding: 0 40px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 95px;
    border-right: 1px solid lightgrey;
    padding: 10px;
}

.team-logo {
    width: 30px;
    height: 35px;
    margin-bottom: 5px;
}

.vs {
    font-size: 1rem;
    margin: 5px 0;
}

.team-abbr {
    font-weight: bold;
    font-size: 1rem;
}

.game:last-child {
    border-right: none;
}

.nav-button {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    z-index: 1;
}

.nav-button.left {
    left: 0;
}

.nav-button.right {
    right: 0;
}

.news-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 60px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 35px;
}

.big-news {
    flex: 2;
    margin-right: 20px;
}

.big-news-header {
    margin-top: 20px;
    font-size: 24px;
    text-align: left;
}

.big-news img {
    width: 100%;
    height: auto;
}

.big-news-description {
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}

.small-news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.small-news {
    flex: 1 1 calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.small-news img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.small-news-description {
    font-size: 16px;
    text-align: left;
}

.latest-news {
    flex: 1;
    padding-left: 20px;
    border-left: 1px solid #ddd;
}

.latest-news-header {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: left;
}

.latest-news-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.latest-news-list li {
    font-size: 16px;
    margin-bottom: 10px;
}

.more-news-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.more-news-button:hover {
    background-color: #003f7d;
}
