/* Players.css */
.players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.team-box {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.team-header {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.team-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.team-name {
    margin: 0;
}

/* Remove blue underline from links */
.team-link {
    text-decoration: none;
    color: inherit;
}

.team-link:hover .team-name {
    color: lightgray; /* Add desired hover color */
}

.team-divider {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.players-list {
    padding: 10px;
}

.player {
    margin-bottom: 5px;
}

.player-position {
    font-weight: bold;
}

.player-name {
    margin-left: 5px;
}

